{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/test.css') }}"/>
{% endblock %}

{% block body %}

    {{ dump(list) }}

    <div id="test-container"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/test.js') }}"></script>
{% endblock %}